/* solarized colors by ethan schoonover http://ethanschoonover.com/
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

body {
  background-color: #002b36;
  color: #2aa198;
}

/* some fancy blinking text (throwback to the late 90s!)
   courtesy of http://fredericiana.com/2012/11/04/html5-blink-tag/ */

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
}

@keyframes blink {
    80% {
        visibility: hidden;
    }
}
